[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vividchalk"]
	path = .vim/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/ruby"]
	path = .vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/ctags"]
	path = .vim/bundle/ctags
	url = https://github.com/tpope/gem-ctags.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/bundler"]
	path = .vim/bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/rake"]
	path = .vim/bundle/rake
	url = https://github.com/tpope/vim-rake.git
[submodule ".vim/bundle/rspec"]
	path = .vim/bundle/rspec
	url = https://github.com/thoughtbot/vim-rspec.git
